.root {
    --primary-background-color: #cbe9c6;
    --primary-text-color: #000000;
    --secondary-background-color: #fdff86;
    --secondary-text-color: #000000;
    --tertiary-background-color: #ff3030;
    --tertiary-text-color: #ffffff;
    --quaternary-background-color: #ffffff;
    --quaternary-text-color: #494949;
}

.tag {
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize; 

    &[data-variant="primary"] {
        background: var(--primary-background-color);
        color: var(--primary-text-color);
    }
    &[data-variant="secondary"] {
        background: var(--secondary-background-color);
        color: var(--secondary-text-color);
    }
    &[data-variant="tertiary"] {
        background: var(--tertiary-background-color);
        color: var(--tertiary-text-color);
    }
    &[data-variant="quaternary"] {
        background: var(--quaternary-background-color);
        border: 1px solid gray;
        color: var(--quaternary-text-color);
    }
}