.root {
    --primary-text-color: #fff;
    --secondary-color: #ffffff;
    --secondary-border-color: #e5e5e5;
    --secondary-text-color: #000
}
.btn {
    padding: 10px 30px;
    cursor: pointer;

    &[data-variant="primary"] {
        background: #000000;
        color: var(--primary-text-color);
    }
    &[data-variant="secondary"] {
        background: var(--secondary-color);
        border: 2px solid var(--secondary-border-color);
        color: var(--secondary-text-color);
    }
}