@import "tailwindcss";

:root {
  --root-avdig-button-secondary-background: #ffe600;
  --root-avdig-button-secondary-color: #ffffff;
  --root-avdig-button-primary-background: #1f1f1f;
  --root-avdig-button-primary-color: #ffffff;
  --root-avdig-button-primary-text-color: #ffffff;
  --root-avdig-button-secondary-text-color: #000000;
  --root-avdig-dropdown-primary-background: #00ccff;
  --root-avdig-dropdown-primary-color: #ffffff;
  --root-avdig-dropdown-primary-text-color: #ffffff;
  --root-avdig-dropdown-secondary-background: #ffffff;
  --root-avdig-dropdown-secondary-color: #000000;
  --root-avdig-dropdown-secondary-text-color: #000000;
  --root-avdig-height-sm: 36px;
  --root-avdig-height-md: 40px;
  --root-avdig-height-lg: 48px;
  --root-avdig-pad-sm: 12px;
  --root-avdig-pad-md: 16px;
  --root-avdig-pad-lg: 20px;
  --root-avdig-font-size-sm: 14px;
  --root-avdig-font-size-md: 16px;
  --root-avdig-font-size-lg: 20px;
  --root-avdig-spinner-width-sm: 48px;
  --root-avdig-spinner-width-md: 64px;
  --root-avdig-spinner-width-lg: 80px;
}


body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #f5f5f5;
}